*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav{
    background-color: white;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}
img{
    width: 200px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
}
nav ul li a{
    color: gray;
    font-size: 17px;
    padding: 7px 13px;
}
nav ul li a:hover{
    color: black;
}
nav a{
    margin: auto 0;
}
.list{
    display: none;
    position: absolute;
    width: 200px;
    background-color: white;
    border: 1px solid black;
    line-height: 20px;
}
.list a{
    color: gray;
    display: block;
}
.drop:hover .list{
    display: block;
}

#menuToggle
{
  display: none;
  margin-top: 15px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  margin-top: 10px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2;
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-top: 10px;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-10px, -20px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(-2px, 14px);
}

@media(max-width:1000px){
    nav{
        justify-content: space-between;
    }
}

@media(max-width:858px){
    #menuToggle{
        display: block;
    }

    ul{
        position:  fixed;
        display:flex;
        flex-direction:column;
        align-items:flex-start;
        background: black;
        top: 80px;
        left: -100%;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    nav ul li a:hover{
        color: white;
    }

    nav.open ul{
        left: 0;
    }

    .list{
        position: relative;
        width: auto;
        background-color:black;
        text-align: left;
    }

    .list a{
        padding-left: 30px;
    }
}