
#navbar{
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: hidden;
    height: 80px;
}
#training .items{
    flex-direction: column;
}

#training .items .item{
    font-size: 1.25rem;
    width: 100%;
}

.courses .course{
    height: 10rem; 
    flex-direction: column;
}
.courses .course .course-image span{
    font-size: 0.5rem;
}